body{
    height: 100vh;
    background: linear-gradient(-45deg, #231338, #2e1246,#3a1f5a,#602372);
    /*background-color: #231338;*/
    background-size: 400%, 400%;
    animation: gradient 12s ease-in infinite;
    color: #ededed;
}

@keyframes gradient {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 86%;
    padding: 20px 10%;
    /**background: #071621;*/

    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100%;
}

/*Texto*/
.logo{
    font-size: 50px;
    font-family: "Karantina", system-ui;
    font-weight: 300;
    font-style: normal;
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.logo2{
    font-size: 50px;
    font-family: "Karantina", system-ui;
    font-weight: 300;
    font-style: normal;
    color: #EB76AF;
    text-decoration: none;
    font-weight: 600;
}

.logo-container {
    display: flex;
}

.navbar a{
    font-size: 18px;
    font-family: "Instrument Sans", sans-serif;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 500;
    margin-left: 55px;
}

/*Cuerpo*/
.introduction-container {
    font-family: "Instrument Sans", sans-serif;
    display: flex;
    line-height: 0; /*Interlineado entre lineas*/
    flex-direction: column;
    align-items: flex-start;/*Esto es para ordenarlo a la izquierda*/
    margin-left: 850px;
    margin-top: 220px;
    flex-direction: column;
}

.subtitle{
    font-size: 15px;
    font-family: "Instrument Sans", sans-serif;
}
.paragraph{
    font-family: "Instrument Sans", sans-serif;
    font-size: 18px;
    line-height: 2;
    align-items: end;
}

.about-row {
    font-size: 30px;
    display: flex;
    gap: 8px; /*Espaciado*/
}

.profesional{
    font-family: "Instrument Sans", sans-serif;
    font-size: 20px;
    line-height: 2;
    align-items: center;
    margin-left: -125px;
    margin-right: 200px;
    margin-top: 120px;
}

.skills{
    font-family: "Instrument Sans", sans-serif;
    font-size: 20px;
    line-height: 2;
    color: #EB76AF;
    align-items: center;
    margin-left: -200px;
    margin-right: 200px;
    margin-top: 120px;
}

.name{
    color: #EB76AF;
}

/*Rectángulos*/

.rectangulos {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-top: 10px;
}

.rectangulo {
  width: 100px;
  height: 75px;
  border: 1px solid #EB76AF; 
  border-radius: 10px; 
  background-color: transparent; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.rectangulo img {
  max-width: 80%;
  max-height: 80%;
}

/*Círculo*/
.circle {
    width: 350px;
    height: 325px;
    border-radius: 60%;
    background-color: #FC1F7F;
    /*filter: blur(80px);/* Esto es para el difuminado */
    position: absolute;
    top: 275px;
    left: 290px;
    z-index: -1;/*Esto es para enviar el círculo detrás de la imagen*/
}

.me{
    position: absolute;
    top: 150px;
    left: 285px;
    filter: contrast(100%);
}