body{
    height: 100vh;
    overflow: hidden;
    /*background: linear-gradient(-45deg,#be71c4);*/
    background-color: #0e1025;
    /*background-size: 400%, 400%;
    animation: gradient 12s ease-in infinite;*/
    color: #ededed;
}

@keyframes gradient {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

.header{
    position: fixed;
    top: 20px;
    left: 0;
    width: 86%;
    padding: 20px 10%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100%;
}

/*Texto*/
.logo{
    font-size: 50px;
    font-family: "Karantina", system-ui;
    font-weight: 300;
    font-style: normal;
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.logo2{
    font-size: 50px;
    font-family: "Karantina", system-ui;
    font-weight: 300;
    font-style: normal;
    color: #CE76EB;
    text-decoration: none;
    font-weight: 600;
}

.logo-container {
    display: flex;
}

.navbar a{
    font-size: 18px;
    font-family: "Instrument Sans", sans-serif;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 500;
    margin-left: 55px;
}

/*Cuerpo*/
.email-container {
    font-family: "Instrument Sans", sans-serif;
    display: flex;
    line-height: 0; /*Interlineado entre lineas*/
    flex-direction: column;
    align-items: center;/*Esto es para ordenarlo al centro*/
    margin-left: 50px;
    margin-top: 200px;
    flex-direction: column;
}

.contact-row {
    font-size: 25px;
    display: flex;
    gap: 8px; /*Espaciado*/
}

/*Parte del título de "Contact me"*/

.titule2 {
    color: #CE76EB;

}

.titule1 {
    color: #ffffff;
    margin-left: 0vw;
}

/*Inputs*/

.inputs {
  display: flex;
  flex-wrap: wrap;
  gap: 1vw;
  justify-content: center;
  padding: 2vh 4vw;
  margin-right: 0vw;
}


.left, .right {
  display: flex;
  flex-direction: column;
  gap: 0vh;
  margin-top: -2vh;
  width: 26vw; /* o ajusta: 35vw y 35vw si quieres más espacio entre ellas */
}

.input1{
  display: flex;
  flex-direction: column;
  width: 20vw;
  margin-top: 5vh;
}

.input2{
  display: flex;
  flex-direction: column;
  width: 20vw;
  margin-top: 5vh;
}

.input3 {
  display: flex;
  flex-direction: column;
  width: 20vw;
  margin-left: 6vw;
  margin-top: 5vh;
}

.input4 {
  display: flex;
  flex-direction: column;
  width: 20vw;
  margin-left: 6vw;
  margin-top: 5vh;
}

.input5 input {
  height: 20vh;
  width: 50vw;
  margin: 3vh auto 0 auto;
}

form .inputs input {
  padding: 15px 28px;
  font-size: 15px;
  font-family: "Instrument Sans", sans-serif;
  border-radius: 30px;
  border: 1.5px solid #7E57C2;
  background-color: transparent;
  color: whitesmoke;
  outline: none;
}

/*Botones*/
.button {
  background: linear-gradient(to right, #6737FD, #B594FF);
  font-family: "Instrument Sans", sans-serif;
  border: none;
  color: white;
  padding: 1em 2em;/*Relleno arriba, abajo y a los lados*/
  text-align: center;
  display: inline-block;/*Esto es para que no inicie una nueva linea*/
  font-size: clamp(10px, 2.5vw, 16px); 
  margin: 4px 2px;
  margin-left: 44.5vw;
  cursor: pointer;
  border-radius: 0.5em;
  transition-duration: 0.4s;
}

.button:hover {/*El hover es cuando el mouse para encima del botón*/
  transform: scale(1.05);/*Esto es para que crezca en tamaño*/
  box-shadow: 0 8px 20px rgba(202, 130, 250, 0.4);/*Esto es para agregar una sombra*/
}

/*Footer*/
.footer {
  padding: 2.2vw;
  display: flex;
  gap: 1vw; 
}

.facebook{
  margin-top: 0vh;
}

.instagram{
  margin-top: 0vh;
}

.github{
  margin-top: 0vh;
}

.correo{
  margin-top: 0vh;
  font-family: "Instrument Sans", sans-serif;
  font-size: 15px;
}
/*Círculo*/

.circle1 {
    width: 30vw;
    height: 30vh;
    max-width: 450px;
    max-height: 450px;
    border-radius: 50%;
    background-color: #38307D;
    filter: blur(9vw); /* Esto es para el difuminado */
    position: absolute;
    top: 80vh;
    bottom: 0vw;
    left: -10vw;
    z-index: -3;/*Esto es para enviar el círculo detrás de la imagen*/
}

.circle2 {
    width: 30vw;
    height: 30vh;
    max-width: 450px;
    max-height: 450px;
    border-radius: 50%;
    background-color: #38307D;
    filter: blur(9vw); /* Esto es para el difuminado */
    position: absolute;
    top: -10vh;
    bottom: 0vw;
    right: -5vw;
    z-index: -2;/*Esto es para enviar el círculo detrás de la imagen*/
}

.cristal {
    width: 94vw;
    height: 92vh;
    border-radius: 20px;
    background-color: #17285B;
    opacity: 0.2;
    position: absolute;
    top: 30px;
    bottom: 0px;
    left: 50px;
    z-index: -1;/*Esto es para enviar el rectángulo detrás de la imagen*/
}