body{
    height: 100vh;
    overflow: hidden; 
    /*background: linear-gradient(-45deg,#be71c4);*/
    background-color: #0e1025;
    /*background-size: 400%, 400%;
    animation: gradient 12s ease-in infinite;*/
    color: #ededed;
}

@keyframes gradient {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

.header{
    position: fixed;
    top: 20px;
    left: 0;
    width: 86%;
    padding: 20px 10%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100%;
}

/*Texto*/
.logo{
    font-size: 50px;
    font-family: "Karantina", system-ui;
    font-weight: 300;
    font-style: normal;
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.logo2{
    font-size: 50px;
    font-family: "Karantina", system-ui;
    font-weight: 300;
    font-style: normal;
    color: #CE76EB;
    text-decoration: none;
    font-weight: 600;
}

.logo-container {
    display: flex;
}

.navbar a{
    font-size: 18px;
    font-family: "Instrument Sans", sans-serif;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 500;
    margin-left: 55px;
}

/*Rectángulo*/
.cristal {
    width: 94vw;
    height: 92vh;
    border-radius: 20px;
    background-color: #17285B;
    opacity: 0.2;
    position: absolute;
    top: 30px;
    bottom: 0px;
    left: 50px;
    z-index: -1;/*Esto es para enviar el rectángulo detrás de la imagen*/
}