body{
    height: 100vh;
    background: linear-gradient(-45deg, #231338, #2e1246,#3a1f5a,#602372);
    /*background-color: #231338;*/
    background-size: 400%, 400%;
    animation: gradient 12s ease-in infinite;
    color: #ededed;
}

@keyframes gradient {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 86%;
    padding: 20px 10%;
    

    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100%;
}

/*Texto*/
.logo{
    font-size: 50px;
    font-family: "Karantina", system-ui;
    font-weight: 300;
    font-style: normal;
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.logo2{
    font-size: 50px;
    font-family: "Karantina", system-ui;
    font-weight: 300;
    font-style: normal;
    color: #EB76AF;
    text-decoration: none;
    font-weight: 600;
}

.logo-container {
    display: flex;
}

.name-row {
    font-size: 25px;
    display: flex;
    gap: 8px; /*Espaciado*/
}

/*Barra de navegación*/
.navbar a{
    font-size: 18px;
    font-family: "Instrument Sans", sans-serif;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 500;
    margin-left: 55px;
}

.name-container {
    font-size: 19px;
    display: flex;
    margin-top: 110px;
    margin-left: 40px;
    line-height: 0; /*Interlineado entre lineas*/
    flex-direction: column;
    align-items: flex-start;/*Esto es para ordenarlo a la izquierda*/
}

.name{
    color: #EB76AF;
}

.conteiner{
    display: flex;
}

/*Parte de las secciones*/
.home{
    height: 80vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home-content{
    font-family: "Instrument Sans", sans-serif;
}

/*Parte de los botones*/
.button {
  background-color: #EB76AF;
  font-family: "Instrument Sans", sans-serif;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  margin-left: 40px;
  cursor: pointer;
  border-radius: 15px;
  transition-duration: 0.4s;
  cursor: pointer;  
}

.button1:hover {
  background-color: #9e3266;
  color: white;
}

/*Imagen*/
.robot_conteiner{
    position: absolute;
    bottom: 0px;
    right: 0px;
}

/*Círculo*/
.circle {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: #6505da;
    filter: blur(155px); /* Esto es para el difuminado */
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: -1;/*Esto es para enviar el círculo detrás de la imagen*/
}

